@model IEnumerable<ControleJogos.Model.Amigo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Amigos</h2>

<p>
    <a asp-action="Create">Adicionar amigo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AmigoID" class="btn btn-default details" title="Detalhes"><i class="glyphicon glyphicon-file"></i></a>
                <a asp-action="Edit" asp-route-id="@item.AmigoID" class="btn btn-default edit" title="Editar"><i class="glyphicon glyphicon-edit"></i></a>
                <a asp-action="Delete" asp-route-id="@item.AmigoID" class="btn btn-danger delete"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
